img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none;
}

#whats:hover{
	color: #00E676;
		}
#face:hover{
	color: #4267B2;
}
#correo:hover{
	color: #A9392D;
	cursor: pointer;
}
.nav-link:hover{
	cursor: pointer;
}

#arti:hover{
	color: #007bff;
	cursor: pointer;
}

#barra{
	font-family: arial;
	margin-bottom: 10px;
	display: inline-flex;
	width: 77%; align-content: center;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}